deploy/cloudformation/manifest-pipeline.yml
Transform: 'AWS::Serverless-2016-10-31'
Description: >
  - Creates a series of lambdas and a step function to process manifests.
  - The lambdas create iiif manifest and pyramid tiffs out of images.
  - The finished product are copied to a bucket to serve manifests out of and an image server
    to display the iiif images.
  - Creates a bucket for to serve manifests out of
  - Creates a bucket that the step functions use as an in process location.
  - Requires the iiif-service and mellon-data-broker pipelines to be built.  Uses ssm keys from those services
Parameters:
  InfrastructureStackName:
    Type: String
    Default: mellon-app-infrastructure
    Description: The name of the parent infrastructure/networking stack that you created. Necessary
                 to locate and reference resources created by that stack.
  ImageSourceBucket:
    Type: 'AWS::SSM::Parameter::Value<String>'
    Description: The name of the source bucket that the IIIF Image service will read from for its assets.
    Default: '/all/stacks/mellon-data-broker/publicbucket'
  ImageServerUrl:
    Type: 'AWS::SSM::Parameter::Value<String>'
    Description: The url of the IIIF Image Server
    Default: '/all/stacks/mellon-image-service/url'
  InfrastructureStackName:
    Type: String
    Default: "mellon-app-infrastructure"
    Description: The name of the parent infrastructure/networking stack that you created. Necessary
                 to locate and reference resources created by that stack.
  AppConfigPath:
    Type: String
    Description: The path to look for the application config from

  AcmCertificateArn:
    Type: String
    Description: Arn for ACM Certificate
    Default: ''

  CacheSettings:
    Type: Number
    Description: The cache value to hold the manifests for.
    Default: 300

  FQDN:
    Type: String
    Description: DNS name for the website to publish
    MaxLength: 63
    AllowedPattern: ^$|(?!-)[a-zA-Z0-9-.]{1,63}(?<!-)
    ConstraintDescription: must be a valid DNS zone name
    Default: ''

Conditions:

  NoFQDN: !Equals
    - !Ref FQDN
    - ''

  NoSSL: !Equals
    - !Ref AcmCertificateArn
    - ''


Outputs:
  StateMachine:
    Value: !Ref StateMachine

  ProcessBucket:
    Value: !Ref ProcessBucket

  ManifestBucket:
    Value: !Ref ManifestBucket

Resources:

  SSMImageServerBaseUrl:
    Type: AWS::SSM::Parameter
    Properties:
      Type: String
      Name: !Sub "${AppConfigPath}/image-server-base-url"
      Value: !Ref ImageServerUrl
      Description: Image server base url

  SSMImageSourceBucket:
    Type: AWS::SSM::Parameter
    Properties:
      Type: String
      Name: !Sub "${AppConfigPath}/image-server-bucket"
      Value: !Ref ImageSourceBucket
      Description: Image server base url

  SSMManifestServerBaseUrl:
    Type: AWS::SSM::Parameter
    Properties:
      Type: String
      Name: !Sub "${AppConfigPath}/manifest-server-base-url"
      Value: !GetAtt Distribution.DomainName
      Description: Manifest Server URL

  SSMManifestBucket:
    Type: AWS::SSM::Parameter
    Properties:
      Type: String
      Name: !Sub "${AppConfigPath}/manifest-server-bucket"
      Value: !Ref ManifestBucket
      Description: Manifest Server URL

  SSMProcessBucket:
    Type: AWS::SSM::Parameter
    Properties:
      Type: String
      Name: !Sub "${AppConfigPath}/process-bucket"
      Value: !Ref ProcessBucket
      Description: Manifest Server URL

  ProcessBucket:
    Type: AWS::S3::Bucket
    Properties:
      LoggingConfiguration:
        DestinationBucketName:
          Fn::ImportValue: !Join [':', [!Ref InfrastructureStackName, 'LogBucket']]
        LogFilePrefix: s3/data-broker/

  ManifestBucket:
    Type: AWS::S3::Bucket
    Properties:
      LoggingConfiguration:
        DestinationBucketName:
          Fn::ImportValue: !Join [':', [!Ref InfrastructureStackName, 'LogBucket']]
        LogFilePrefix: s3/data-broker/
      CorsConfiguration:
        CorsRules:
          - Id: DefaultCorsHeader
            AllowedHeaders:
              - Authorization
            AllowedMethods:
              - GET
            AllowedOrigins:
              - '*'
            MaxAge: 3000
  ManifestBucketPolicy:
    Type: AWS::S3::BucketPolicy
    DependsOn: OriginAccessIdentity
    Properties:
      Bucket: !Ref ManifestBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          -
            Effect: Allow
            Action:
              - s3:GetBucketCors
            Resource: !Sub ${ManifestBucket.Arn}
            Principal:
              CanonicalUser: !GetAtt OriginAccessIdentity.S3CanonicalUserId
          -
            Effect: Allow
            Action:
              - s3:GetObject
            Resource: !Sub ${ManifestBucket.Arn}/*
            Principal:
              CanonicalUser: !GetAtt OriginAccessIdentity.S3CanonicalUserId

  OriginAccessIdentity:
    Type: AWS::CloudFront::CloudFrontOriginAccessIdentity
    Properties:
      CloudFrontOriginAccessIdentityConfig:
        Comment: !Sub Static assets in ${AWS::StackName}

  Distribution:
    Type: AWS::CloudFront::Distribution
    DependsOn: OriginAccessIdentity
    Properties:
      DistributionConfig:
        Enabled: true
        HttpVersion: http2
        PriceClass: PriceClass_100
        ViewerCertificate: !If
          - NoSSL
          - !Ref AWS::NoValue
          - AcmCertificateArn: !Ref AcmCertificateArn
            MinimumProtocolVersion: TLSv1.1_2016
            SslSupportMethod: sni-only
        Comment: !If
          - NoFQDN
          - !Ref AWS::NoValue
          - !Ref FQDN
        Aliases: !If
          - NoFQDN
          - !Ref AWS::NoValue
          - - !Ref FQDN
        DefaultRootObject: index.json
        DefaultCacheBehavior:
          ForwardedValues:
            QueryString: false
            Headers:
              - "Access-Control-Request-Headers"
              - "Access-Control-Request-Method"
              - "Origin"
              - "Authorization"
          AllowedMethods:
            - HEAD
            - GET
            - OPTIONS
          Compress: true
          ViewerProtocolPolicy: !If
            - NoSSL
            - allow-all
            - redirect-to-https
          TargetOriginId: Bucket
          LambdaFunctionAssociations:
            -
              EventType: origin-request
              LambdaFunctionARN: !Sub ${SPARedirectionLambda.Arn}:${SPARedirectionLambdaV1.Version}
        Origins:
          - Id: Bucket
            DomainName: !GetAtt ManifestBucket.DomainName
            S3OriginConfig:
              OriginAccessIdentity: !Join
                - /
                - - origin-access-identity
                  - cloudfront
                  - !Ref OriginAccessIdentity
        Logging:
          # This should result in "logbucketname.s3.amazonaws.com", where "logbucketname" is the value from an export
          # named "InfrastructureStackName:LogBucket"
          Bucket: !Join
            - .
            - - !ImportValue
                Fn::Join: [':', [!Ref InfrastructureStackName, 'LogBucket']]
              - s3
              - !Ref AWS::URLSuffix
          Prefix: !If
            - NoFQDN
            - !Sub web/${AWS::StackName}/
            - !Sub web/${FQDN}/
          IncludeCookies: true

  LambdaEdgeBasicExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          -
            Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
                - "edgelambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Path: "/"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  SPARedirectionLambda:
    Type: "AWS::Lambda::Function"
    Properties:
      Code:
        # This Lambda will take incoming web requests and adjust the request URI as appropriate.
        # any directory that does not end with an index.json will have that appended to it.
        # this based off of the pattern for the mellon urls which always require a directory with an
        # index.json
        ZipFile: >
          'use strict';
          exports.handler = (event, context, callback) => {
              var request = event.Records[0].cf.request;

              if (!request.uri.endsWith('/index.json')) {
                if (request.uri.endsWith('/')) {
                  request.uri = request.uri + 'index.json'
                } else {
                  request.uri = request.uri + '/index.json'
                }
              }
              return callback(null, request);
          };
      Description: Basic rewrite rule to send directory requests to appropriate locations in the SPA
      Handler: index.handler
      Role: !GetAtt LambdaEdgeBasicExecutionRole.Arn
      Runtime: nodejs8.10

  SPARedirectionLambdaV1:
    Type: AWS::Lambda::Version
    Properties:
      FunctionName: !Ref SPARedirectionLambda
      Description: Adds the rewrite rules as needed

  LambdaExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: !Sub "${AWS::StackName}-LambdaExecutionRole"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: "sts:AssumeRole"
      Policies:
        - PolicyName: ManifestPipelineSsmPermissions
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              -
                Action:
                  - "ssm:GetParametersByPath"
                Effect: "Allow"
                Resource: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter${AppConfigPath}/*"
        - PolicyName: ImageDerivativeCacheBucketPermissions
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              -
                Action:
                  - "s3:GetObject"
                  - "s3:PutObject"
                  - "s3:ListBucket"
                  - "s3:ListBucketVersions"
                  - "s3:PutObjectVersionAcl"
                  - "s3:PutObjectAcl"
                Effect: "Allow"
                Resource:
                  - !GetAtt ProcessBucket.Arn
                  - Fn::Join:
                      - ""
                      -
                        - !GetAtt ProcessBucket.Arn
                        - "/*"
                  - !GetAtt ManifestBucket.Arn
                  - Fn::Join:
                      - ""
                      -
                        - !GetAtt ManifestBucket.Arn
                        - "/*"
                  - Fn::Join:
                    - ""
                    -
                      - !Sub "arn:aws:s3:::"
                      - !Ref ImageSourceBucket
                  - Fn::Join:
                    - ""
                    -
                      - !Sub "arn:aws:s3:::"
                      - !Ref ImageSourceBucket
                      - "/*"
        - PolicyName: ManifestPipelineSesPermissions
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              -
                Action:
                  - "ses:SendEmail"
                Effect: "Allow"
                Resource: "*"

  AutoRun:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-autorun"
      Handler: handler.run
      CodeUri: autorun/
      Runtime: python3.7
      Timeout: 300
      Policies:
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - 'states:ListStateMachines'
                - 'states:StartExecution'
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:*"
      Events:
        S3FileListener:
          Type: S3
          Properties:
            Bucket: !Ref ProcessBucket
            Events: s3:ObjectCreated:*
            Filter:
              S3Key:
                Rules:
                  - Name: suffix
                    Value: 'main.csv'
      Environment:
        Variables:
          STATE_MACHINE: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-StateMachine"

  IndexInputLambdaFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-IndexInputLambdaFunction"
      Handler: handler.run
      Role: !GetAtt [ LambdaExecutionRole, Arn ]
      Runtime: python3.7
      Timeout: 90
      CodeUri: json-from-csv/
      Environment:
        Variables:
          SSM_KEY_BASE: !Ref AppConfigPath

  ManifestLambdaFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-ManifestLambdaFunction"
      Handler: handler.run
      Role: !GetAtt [ LambdaExecutionRole, Arn ]
      Runtime: python3.7
      Timeout: 90
      CodeUri: manifest-from-input-json/

  FinalizeLambdaFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-FinalizeLambdaFunction"
      Handler: handler.run
      Role: !GetAtt [ LambdaExecutionRole, Arn ]
      Runtime: python3.7
      Timeout: 600
      MemorySize: 512
      CodeUri: finalize/
      Environment:
        Variables:
          PROCESS_BUCKET: !Ref ProcessBucket

  # PYRAMID GENERATOR PROCESSING
  PGCounterLambdaFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-PGCounterLambdaFunction"
      Handler: pgcounter.counter
      Role: !GetAtt [ LambdaExecutionRole, Arn ]
      Runtime: nodejs8.10
      Timeout: 120
      MemorySize: 256
      CodeUri: pyramid-generator/
      Environment:
        Variables:
          PROCESS_BUCKET: !Ref ProcessBucket

  PGIteratorLambdaFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-PGIteratorLambdaFunction"
      Handler: pgiterator.iterator
      Role: !GetAtt [ LambdaExecutionRole, Arn ]
      Runtime: nodejs8.10
      Timeout: 120
      MemorySize: 256
      CodeUri: pyramid-generator/
      Environment:
        Variables:
          PROCESS_BUCKET: !Ref ProcessBucket

  PGImgProcLambdaFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-PGImgProcLambdaFunction"
      Handler: pgimgproc.processor
      Role: !GetAtt [ LambdaExecutionRole, Arn ]
      Runtime: nodejs8.10
      Timeout: 120
      MemorySize: 3008
      CodeUri: pyramid-generator/
      Environment:
        Variables:
          PROCESS_BUCKET: !Ref ProcessBucket
          VIPS_DISC_THRESHOLD: 512 m

  StatesExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: !Sub "${AWS::StackName}-StatesExecutionRole"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - !Sub states.${AWS::Region}.amazonaws.com
            Action: "sts:AssumeRole"
      Path: "/"
      Policies:
        - PolicyName: StatesExecutionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "lambda:InvokeFunction"
                Resource: "*"

  StateMachine:
    Type: "AWS::StepFunctions::StateMachine"
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-StateMachine"
      DefinitionString:
        !Sub
          - |-
            {
              "Comment": "Manifest Pipeline",
              "StartAt": "ProcessInput",
              "States": {
                "ProcessInput": {
                  "Type": "Task",
                  "Resource": "${indexInputLambdaArn}",
                  "Next": "ProcessManifest"
                },
                "ProcessManifest": {
                  "Type": "Task",
                  "Resource": "${manifestLambdaArn}",
                  "Next": "PGCount"
                },
                "PGCount": {
                  "Type": "Task",
                  "Resource": "${pgCountLambdaArn}",
                  "Next": "PGIterator"
                },
                "PGIterator": {
                    "Type": "Task",
                    "Resource": "${pgIteratorLambdaArn}",
                    "Next": "PGIsCountReached"
                },
                "PGIsCountReached": {
                    "Type": "Choice",
                    "Choices": [
                        {
                          "Variable": "$.pgimage.iterator.continue",
                            "BooleanEquals": true,
                            "Next": "PGImgProcessor"
                        }
                    ],
                    "Default": "Finalize"
                },
                "PGImgProcessor": {
                    "Type": "Task",
                    "Resource": "${pgImgProcLambdaArn}",
                    "Next": "PGIterator"
                },
                "Finalize": {
                  "Type": "Task",
                  "Resource": "${finalizeLambdaArn}",
                  "End": true
                }
              }
            }
          - { indexInputLambdaArn: !GetAtt [ IndexInputLambdaFunction, Arn ], manifestLambdaArn: !GetAtt [ ManifestLambdaFunction, Arn ], pgCountLambdaArn: !GetAtt [ PGCounterLambdaFunction, Arn], pgIteratorLambdaArn: !GetAtt [ PGIteratorLambdaFunction, Arn], pgImgProcLambdaArn: !GetAtt [ PGImgProcLambdaFunction, Arn], finalizeLambdaArn: !GetAtt [ FinalizeLambdaFunction, Arn ] }
      RoleArn: !GetAtt [ StatesExecutionRole, Arn ]
